body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.dotted-line-bottom {
    margin: 0;
    padding: 15px 0;
    border-top: 3px dashed #000;
    opacity: 25%;
}

#dotted-line-bottom-white {
    border-top: 3px dashed #f6edd8;
}

.dotted-line-header {
    margin: 0;
    padding: 15px 0;
    border-bottom: 3px dashed #000;
    opacity: 25%;
}

#dotted-line-header-white {
    border-bottom: 3px dashed #f6edd8;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* Main-title */

.main-title-text {
    text-transform: uppercase;
    color: #393a3a;
    font-size: 10em;
    text-align: center;
    margin-top: 80px;
    font-family: 'Bazar', sans-serif;
}

.main-subtitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    display: block;
    width: 80px;
    height: 5px;
    margin: 0 10px;
    background-color: #3b3b3b;
}

.cross {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 1px;
}
  
.cross::before,
.cross::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 4px;
    background-color: #3b3b3b;
    transform-origin: center;
}
  
.cross::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
  
.cross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main-subtitle-text {
    text-transform: uppercase;
    color: #393a3a;
    font-size: 2em;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 70px;
    font-family: 'Oswald', sans-serif;
}

#main-title-text-white {
    color: #f6edd8;
}

#main-subtitle-text-white {
    color: #f6edd8;
}

#line-white {
    background-color: #f6edd8;
}

#cross-white::before,
#cross-white::after {
    background-color: #f6edd8;
}

#main-subtitle-text-white {
    color: #f6edd8;
}

/* Header */

.header {
    width: 100%;
    background: url(../assets/images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Nav */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    color: #f9ebd9;
    text-transform: uppercase;
    font-size: 2.2em;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Bazar', sans-serif;
}

.nav-logo {
    width: 10%;
}

.portfolio-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.portfolio-nav-item-text,
.portfolio-nav-item {
    font-family: 'Roboto Slab', serif;
}

.portfolio-nav-item-text {
    font-size: 32px;
    color: #383a3c;
    font-weight: 400;
    margin: 25px;
}

.portfolio-nav-item {
    font-size: 24px;
    color: #383a3c;
    font-weight: 700;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 10% 50%);
    border: 0px;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 8px;
}

.portfolio-nav-item::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #959ca3;
    border-radius: 50%;
    transform: translate(25%, -25%);
    margin: 0 20px 0 25px;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
}

.intro-title {
    color: #f6edd8;
    font-size: 13em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    font-family: 'SeasideResortNF', sans-serif;
}

.intro-subtitle {
    position: relative;
    display: inline-block;
    margin-bottom: 100px;
}

.intro-subtitle-img {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: block;
}

.intro-subtitle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #4b4e4c;
    text-transform: uppercase;
    font-size: 2.75em;
    font-weight: 700;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Bazar', sans-serif;
}

.intro-quotes {
    margin-top: 60px;
}

.quotes-title,
.quotes-subtitle {
    font-family: 'Bazar', sans-serif;
}

.quotes-title {
    text-transform: uppercase;
    font-size: 4em;
    color: #f6edd8;
    font-weight: 700;
}

.quotes-subtitle {
    text-transform: uppercase;
    font-size: 3.3em;
    color: #f6edd8;
    font-weight: 700;
    margin-bottom: 100px;
}

/* Slider */

.intro-slider {
    background-color: #fff;
    padding: 20px;
    max-width: 1920px;
    margin: 0 auto;
}

.intro-slider-imgs {
    display: inline-block;
    position: relative;
}

.slider-img-content {
    width: 100%;
}

.slider-btn-next {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    border: 0px solid #fff;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
}

.slider-btn-next::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 10px solid #000;
    border-radius: 20%;
    border-left: #fff;
    border-bottom: #fff;
    
}

.slider-btn-prev {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    border: 0px solid #fff;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
}

.slider-btn-prev::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    border: 10px solid #000;
    border-radius: 20%;
    border-right: #fff;
    border-bottom: #fff;   
}

.intro-slider-text {
    color: #383a3c;
    font-size: 2.75em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 50px 0 50px 0;
    font-family: 'Bazar', sans-serif;
}

/* About me */

.about-me {
    width: 100%;
    background: url(../assets/images/Background-about.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.about-me-content {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.about-me-item {
    max-width: 500px;
    text-align: center;
}

.about-me-img {
    margin-bottom: 30px;
}

.about-me-img-header {
    text-transform: uppercase;
    font-size: 54px;
    color: #383a3c;
    font-weight: 700;
    font-family: 'Bazar', sans-serif;
    margin-bottom: 30px;
}

.about-me-img-subtitle {
    text-transform: uppercase;
    font-size: 28px;
    color: #383a3c;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

.about-me-img-subtitle::after {
    content: "";
    display: block;
    background-color: #383a3c;
    width: 80px;
    height: 5px;
    margin: 30px auto;
}

.about-me-img-text {
    font-size: 28px;
    font-weight: 400;
    color: #383a3c;
    text-align: left;
    margin: 0 35px;
    line-height: 2em;
    margin-bottom: 100px;
    font-family: 'Roboto Slab', serif;
}

/* Portfolio */

.portfolio {
    width: 100%;
    background: url(../assets/images/Background-portfolio.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.portfolio__inner {
    max-width: 1680px;
    margin: 0 auto;
}

.portfolio-content {
    display: flex;
    justify-content: flex-start;
    max-width: 1920px;
    flex-wrap: wrap;
}

.portfolio-item {
    background-color: #fff;
    margin: 25px;
    position: relative;
}

.portfolio-img {
    padding: 10px 10px 0 10px;
    display: block;
    margin: 0 auto;
}

.portfolio-img-logo {
    width: 45px;
    height: 45px;
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio-img-title {
    text-align: center;
    font-size: 24px;
    color: #383a3c;
    text-transform: uppercase;
    padding: 60px 0 15px 0;
    font-family: 'Roboto Slab', serif;
}

.browse-all {
    text-transform: uppercase;
    font-size: 28px;
    color: #38353e;
    text-align: center;
    padding: 70px 0 100px 0;
    font-family: 'Oswald', sans-serif;
}

.browse-all::before {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    background-color: #383a3c;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 700;
}

/* My blog */

.my-blog {
    width: 100%;
    background: url(../assets/images/Background-blog.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.my-blog-item {
    display: flex;
    padding-bottom: 60px;
}

.my-blog-img { 
    background-color: #fff;
    padding: 10px;
    display: block;
    width: 100%;
}

.my-blog-item__inner {
    flex-direction: column;
    padding-left: 40px;
    line-height: 3em;
}

.my-blog-img-title {
    font-size: 48px;
    text-transform: capitalize;
    color: #383a3c;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}


.my-blog-img-subtitle-items {
    display: flex;
    justify-content: space-between;
}

.my-blog-img-subtitle,
.my-blog-img-response {
    font-size: 20px;
    color: #383a3c;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.my-blog-img-subtitle::after {
    content: "";
    display: block;
    background-color: #383a3c;
    width: 80px;
    height: 5px;
    margin: 10px 0 10px 0;
}

.my-blog-img-text {
    max-width: 1200px;
    font-size: 32px;
    color: #383a3c;
    font-family: 'Roboto Slab', serif;
}

.my-blog-more-info {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}

/* Contat me */

.contact-me {
    width: 100%;
    background: url(../assets/images/Background-contact.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.contact-me-content {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
}

.contact-me-content-item {
    max-width: 960px;
    font-size: 2em;
    color: #a9a9a9;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    font-family: 'Roboto Slab', serif;
}

#contact-me-content-item-area {
    height: 300px;
    resize: none;
}

.contact-me-content-item-btn {
    width: 280px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    text-transform: capitalize;
    color: #383a3c;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 80px;
}

.contact-me-social-title {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #f6edd8;
    font-family: 'Bazar', sans-serif;
}

.contact-me-social-title::after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    background-color: #f6edd8;
    margin: 0 auto;
    margin-top: 20px;
}

.contact-me-social-imgs {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contact-me-imgs-item {
    margin: 0 10px 120px 10px;
}

/* Media */

@media (max-width: 1679px) {
    .portfolio-content {
        justify-content: center;
    }

    .portfolio-nav {
        justify-content: center;
    }
}

@media (max-width: 1440px) {
    .portfolio-nav-item-text {
        width: 100%;
        text-align: center;
    }
    .my-blog-img-subtitle,
    .my-blog-img-response {
        font-size: 1em;
    }
}

@media (max-width: 1439px) {

    .intro-subtitle-text {
        font-size: 2.5em;
    }
    
    .about-me-content {
        flex-wrap: wrap;
    }

    .my-blog-img {
        background-color: transparent;
    }

    .my-blog-img-subtitle-items {
        flex-direction: column;
    }
}

@media (max-width: 1023px) {
    .nav {
        flex-direction: column;
    }
    
    .nav-logo {
        width: 30%;
        order: -1;
        margin-bottom: 10px;
    }

    .nav-item {
        order: 0;
        font-size: 3em;
    }

    .main-title-text {
        font-size: 7em;
    }

    .my-blog-item {
        flex-wrap: wrap;
    }

    .contact-me-social-imgs {
        flex-wrap: wrap;
    }

    .intro-slider-text {
        padding: 0;
    }

    .my-blog-item__inner {
        padding: 0;
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 938px) {
    .intro-subtitle-text {
        font-size: 2em;
    }
}

@media (max-width: 767px) {
    .nav {
        flex-direction: column;
    }

    .main-title-text {
        font-size: 4em;
    }

    .main-subtitle-text {
        font-size: 1.5em;
    }

    .nav-item {
        font-size: 2em;
    }

    .intro-title {
        font-size: 5em;
    }

    .intro-subtitle-text {
        font-size: 1.1em;
    }

    .my-blog-img {
        padding: 0;
    }

    .portfolio-nav {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .quotes-title {
        font-size: 2em;
    }

    .quotes-subtitle {
        font-size: 1.5em;
    }

    .slider-btn-next,
    .slider-btn-prev {
        width: 50px;
        height: 50px;
    }

    .slider-btn-next::before,
    .slider-btn-prev::before {
        width: 10px;
        height: 10px;
        border: 5px solid #000;
        border-radius: 20%;
    }

    .slider-btn-next::before {
        border-left: #fff;
        border-bottom: #fff;
    }

    .slider-btn-prev::before {
        border-right: #fff;
        border-bottom: #fff;
    }

    .intro-slider-text {
        font-size: 2em;
    }

    .contact-me-content-item {
        font-size: 1.8em;
    }

    .intro-slider {
        padding: 10px;
    }
}

@media (max-width: 424px) {
    .intro-subtitle-text {
        font-size: 0.9em;
    }

    .my-blog-img-title {
        font-size: 2.5em;
    }
}

@media (max-width: 374px) {
    .portfolio-item {
        margin: 25px auto;
    }
    .portfolio-img {
        padding: 0;
    }

    .main-title-text {
        font-size: 3em;
    }

    .quotes-title {
        font-size: 2em;
    }

    .quotes-subtitle {
        font-size: 1.5em;
    }

    .intro-subtitle-text {
        font-size: 0.8em;
    }

    .portfolio-img {
        width: 100%;
    }

    .slider-btn-next,
    .slider-btn-prev {
        width: 25px;
        height: 25px;
    }

    .slider-btn-next::before,
    .slider-btn-prev::before {
        width: 5px;
        height: 5px;
        border: 2.5px solid #000;
        border-radius: 20%;
    }

    .slider-btn-next::before {
        border-left: #fff;
        border-bottom: #fff;
    }

    .slider-btn-prev::before {
        border-right: #fff;
        border-bottom: #fff;
    }

    .intro-slider {
        padding: 5px;
    }

    .intro-slider-text {
        font-size: 1.5em;
    }

    .about-me-img-text {
        text-align: justify;
        font-size: 1.5em;
    }

    .my-blog-img-title {
        font-size: 1.9em;
    }

    .my-blog-img-text {
        font-size: 1.5em;
    }
}